<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="">
        <img src="../../assets/logo.png" alt="logo" />
        <h1>Weather Mania</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Menu" nzIcon="menu" class="menu">
        <ul class="ul">
          <li nz-menu-item nzMatchRouter>
            <a (click)="dashbord()">Dashboard</a>
          </li>

          <li *ngIf="isLogedIn" nz-menu-item nzMatchRouter>
            <a (click)="forcast()">Forcast</a>
          </li>
          <li *ngIf="isLogedIn" nz-menu-item nzMatchRouter>
            <a (click)="logout()">Logout</a>
          </li>
          <li *ngIf="isLogedIn" nz-menu-item nzMatchRouter>
            <a nz-dropdown [nzDropdownMenu]="menu">
              Settings
              <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item>
                  <a routerLink="main/settings/updatepass" class="text-dark"
                    >Update Password</a
                  >
                </li>
              </ul>
            </nz-dropdown-menu>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content class="fullheight">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <i
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></i>
      </span>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
