:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: 100vh;
  height: 100%;
}

.menu-sidebar {
  /* background-color: #1d698e; */
  position: relative;
  z-index: 10;
  height: auto;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}
.trigger {
  color: rgb(102, 133, 136);
}

.trigger:hover {
  color: #18ff84;
  transition: all 0.5s ease;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  
}


nz-content {
  margin: 24px;
}
nz-layout {
  background-image: radial-gradient(
      circle 976px at 51.2% 51%,
      rgba(11, 27, 103, 0.7) 0%,
      rgba(16, 66, 157, 0.7) 0%,
      rgba(11, 27, 103, 0.7) 17.3%,
      rgba(11, 27, 103, 0.7) 58.5%,
      rgba(11, 27, 103, 0.7) 71.4%,
      rgba(16, 66, 157, 0.7) 100.2%,
      rgba(187, 187, 187, 0.7) 100.2%
    ),
    url("/assets/logos/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-content {
  height: 100%;
}
.ul > li :hover {
  color: #18ff84;
  font-size: x-large;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

