<div>
  <form class="border-2" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item class="input">
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid E-mail!"
      >
      <nz-input-group nzPrefixIcon="user">
        <input
          nz-input
          formControlName="email"
          id="email"
          class="rounded-3 border-2"
          placeholder="Please enter your email address"
        />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="input">
     
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your password!"
      >
      <nz-input-group nzPrefixIcon="lock">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
          class="rounded-3 border-2"
          placeholder="Please enter yout passwords"
        />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="input">
     
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <nz-input-group nzPrefixIcon="lock">
        <input
          class="rounded-3 border-2"
          nz-input
          type="password"
          formControlName="checkPassword"
          id="checkPassword"
          placeholder="Please re-enter yout passwords"
        />
        </nz-input-group>
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >Please confirm your password!</ng-container
          >
          <ng-container *ngIf="control.hasError('confirm')">
            Two passwords that you enter is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item> </nz-form-item>

    <nz-form-item nz-row class="register-area" class="btn_div">

         <button
      nz-button
      class="login-form-button login-form-margin"
      nzType="primary"
      [nzLoading]="isLoadingOne"
    >
      Log in
    </button>
    
    </nz-form-item>
  </form>
</div>
