<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="">
        <img src="../../assets/logo.png" alt="logo" />
        <h1>Weather Mania</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="menu" nzIcon="menu">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/auth/signup">Sign-Up Now</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a (click)="dashbord()">Dashbord</a>
          </li>
          <li *ngIf="isLogedIn" nz-menu-item nzMatchRouter>
            <a (click)="logout()">logout</a>
          </li>
          <li *ngIf="isLogedIn" nz-menu-item nzMatchRouter>
            <a (click)="forcast()">Forcast</a>
          </li>
          <li *ngIf="isLogedIn" nz-menu-item nzMatchRouter>
            <a (click)="setting()">Settings</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header d-flex align-content-center bg-info">
        <span
          class="header-trigger d-flex justify-content-center align-content-center"
          (click)="isCollapsed = !isCollapsed"
        >
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>

        <h3>Welcome To Weather Mania</h3>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
